{% extends "base.html" %}
{% load static %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
  <h1 style="text-align:center">Привет, я автор</h1>
  <div class="container">
    <p> Автор и исполнитель этого проекта - это я, Алексей Разумовский.</p> 
    <p> Я - начинающий программист, а этот проект - учебный)))</p> 
    <p> <a href="https://github.com/Krugger1982">Мой гитхаб </a></p> 
    <p> <a href="https://www.linkedin.com/mwlite/in/алексей-разумовский-5057101b7">Мой профиль на linkedin </a></p>
    <p> <a href="https://vk.com/razumovsky1982">Мой профиль в ВК </a></p> 
      
    <p> В программировании я недавно, последние 20 лет был занят совсем другим))).
    Во время работы я черпаю вдохновение в своих поделках - Будда помогает мне сохранить спокойствие, а Ильич - сосредоточиться на работе.
    Также всегда со мной моя семья.</p> 
      
      
    <p> Вот так выглядит мой рабочий стол))) На "рабочем столе" компьютера изображен ... тоже рабочий стол))). </p>    
  </div>
  <br>
  <div style=text-align:center>
    <img src="{% static 'img/desktop.png' %}"  alt="Мой рабочий стол не отображается" width=800, height=600/>
  </div>
{% endblock %} 